Index:
  Background: Build

CompileFlags:
  Add: [-xc++, -Wall, -std=c++23]

Diagnostics:
  UnusedIncludes: Strict
  MissingIncludes: Strict
  ClangTidy:
    Add: []
    Remove: []

  Includes:
    IgnoreHeader:
      - "wx/.*"
