name: cpp-linter
on:
  pull_request:
    branches: [main]
    paths:
      [
        "**.c",
        "**.cpp",
        "**.h",
        "**.hpp",
        "**.cxx",
        "**.hxx",
        "**.cc",
        "**.hh",
        "**CMakeLists.txt",
        "meson.build",
        "**.cmake",
      ]
  push:
    branches: [main]
    paths:
      [
        "**.c",
        "**.cpp",
        "**.h",
        "**.hpp",
        "**.cxx",
        "**.hxx",
        "**.cc",
        "**.hh",
        "**CMakeLists.txt",
        "meson.build",
        "**.cmake",
      ]

jobs:
  cpp-linter:
    runs-on: windows-latest
    steps:
      - uses: actions/checkout@v5

      - name: Setup MSYS2
        uses: msys2/setup-msys2@v2
        with:
          msystem: CLANG64
          update: true
          install: >-
            mingw-w64-clang-x86_64-cmake
            mingw-w64-clang-x86_64-toolchain
            mingw-w64-clang-x86_64-cereal
            mingw-w64-clang-x86_64-wxwidgets3.3-common
            mingw-w64-clang-x86_64-wxwidgets3.3-common-libs
            mingw-w64-clang-x86_64-wxwidgets3.3-msw 
            mingw-w64-clang-x86_64-wxwidgets3.3-msw-libs
            mingw-w64-clang-x86_64-opencv
            mingw-w64-clang-x86_64-eigen3

      - name: Generate Compilation Database
        run: |
          cmake -S . -B build \
            -DCMAKE_EXPORT_COMPILE_COMMANDS=ON

      - uses: cpp-linter/cpp-linter-action@v2
        id: linter
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          style: "file" # Use .clang-format config file
          tidy-checks: "" # Use .clang-tidy config file
          # only 'update' a single comment in a pull request thread.
          thread-comments: ${{ github.event_name == 'pull_request' && 'update' }}
          database: "build"

      - name: Fail fast?!
        if: steps.linter.outputs.checks-failed > 0
        run: exit 1
